.frame {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('/assets/layout/bg-image.svg');

  .start-game {
    height: 86px;
    width: 430px;
    background-repeat: no-repeat;
    margin: auto;
    background-image: url('/assets/buttons/start-game.svg');
    z-index: 999;
  }

  .start-game:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
}

.dotted {
  position: absolute;
  background-image: url('/assets/layout/border.svg');

  &.left {
    height: 100%;
    width: 26px;
    background-repeat: repeat-y;
  }

  &.right {
    height: 100%;
    width: 26px;
    background-repeat: repeat-y;
    right: 0;
  }
}
