<ion-content [fullscreen]="true">
  <div class="frame">
    <div class="start-game" (click)="startGame()"></div>
  </div>
  <div class="dotted left"></div>
  <div class="dotted right"></div>
</ion-content>
