.frame {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('/assets/layout/bg-image.svg');

  .flex-box {
    flex: 1;
    text-align: center;

    .board {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 2px;
      width: 420px;
      margin: auto;
      margin-top: 35px;
    }

    .board-item {
      padding-top: 100%;
      background-image: url('/assets/layout/fields/field-normal.svg');
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 999;

      &.miss {
        background-image: url('/assets/layout/fields/field-miss.svg');
      }

      &.ship {
        background-image: url('/assets/layout/fields/ship-normal.svg');
      }

      &.hit {
        background-image: url('/assets/layout/fields/ship-test.svg');
      }
    }

    .board-item-enemy {
      padding-top: 100%;
      background-image: url('/assets/layout/fields/field-normal.svg');
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      z-index: 999;

      &.miss {
        background-image: url('/assets/layout/fields/field-miss.svg');
      }

      &.hit {
        background-image: url('/assets/layout/fields/field-hit.svg');
      }

      &.selected {
        background-image: url('/assets/layout/fields/field-selected.svg');
      }
    }

    .board-item-enemy.hit:hover {
      background-image: url('/assets/layout/fields/field-hit.svg');
      cursor: default;
    }

    .board-item-enemy.miss:hover {
      background-image: url('/assets/layout/fields/field-miss.svg');
      cursor: default;
    }

    .board-item-enemy:hover {
      background-image: url('/assets/layout/fields/field-selected.svg');
    }

  }
}

.dotted {
  position: absolute;
  background-image: url('/assets/layout/border.svg');

  &.left {
    height: 100%;
    width: 26px;
    background-repeat: repeat-y;
  }

  &.right {
    height: 100%;
    width: 26px;
    background-repeat: repeat-y;
    right: 0;
  }

  &.top {
    height: 26px;
    width: 100%;
    background-repeat: repeat-y;
  }
}

.your-fleet {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 162px;
  width: 431px;
  background-repeat: no-repeat;
  background-image: url('/assets/layout/your-fleet.svg');
}

.enemy-board {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 162px;
  width: 431px;
  background-repeat: no-repeat;
  background-image: url('/assets/layout/enemy-board.svg');
}

.game-menu {
  position: fixed;
  background-position: bottom;
  bottom: 0;
  height: 185px;
  width: 1442px;
  background-repeat: no-repeat;
  background-image: url('/assets/layout/game-menu.svg');
  z-index: 999;
  background-size: 75%;

  .new-game-button {
    position: fixed;
    background-image: url('/assets/buttons/start-game.svg');
    height: 80px;
    width: 427px;
    background-repeat: no-repeat;
    background-size: 70%;
    z-index: 999;
    margin-left: 268px;
    margin-top: 89px;
  }

  .new-game-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }

  .shoot-button {
    position: fixed;
    background-image: url(/assets/buttons/shoot.svg);
    height: 164px;
    width: 563px;
    background-repeat: no-repeat;
    background-size: 70%;
    z-index: 999;
    margin-left: 788px;
    margin-top: 51px;

    &.opponent-turn {
      background-image: url('/assets/buttons/shoot-disabled.svg');
    }

    &.game-ended {
      background-image: url('/assets/buttons/game-ended.svg');
    }
  }

  .shoot-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
}
