<ion-content [fullscreen]="true">
  <div class="frame">
    <div class="flex-box">
      <div class="your-fleet"></div>
      <div class="board">
        <div class="board-item" *ngFor="let field of yourGrid"
             [ngClass]="{ 'ship': field.ship !== null,
        'hit': field.hit &&!field.hit.isMiss,
        'miss':field.hit && field.hit.isMiss }"></div>
      </div>
    </div>
    <div class="flex-box">
      <div class="enemy-board"></div>
      <div class="board">
        <div class="board-item-enemy" *ngFor="let field of enemyGrid"
             (click)="selectField(field)"
             [ngClass]="{ 'selected': selectedField?.id === field.id,
        'hit': field.hit && !field.hit.isMiss,
        'miss': field.hit &&field.hit.isMiss}"></div>
      </div>
    </div>

  </div>
  <div class="dotted left"></div>
  <div class="dotted right"></div>
  <div class="game-menu">
    <div class="new-game-button" (click)="newGame()"></div>
    <div class="shoot-button" (click)="shoot()"
         [ngClass]="{ 'game-ended': gameSession?.ended_at !== null }"></div>
  </div>
</ion-content>
